@import '../index.scss';

.marks_root{
    @extend .animate;
    background-color: white;
    padding:0px;
    margin: 20px;
    color:#1485fe;

    .marks_item{
        margin: 5px 5px;
        cursor: pointer;
        display: inline-block;
         position: relative;
    }
}

