// @import '~antd/dist/antd.css';
.normal {
  font-family: Georgia, sans-serif;
  padding-bottom: 50px;
  height: 80px;
  // text-align: center;
  // height: 100vh;
}

//  顶部导航栏
.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 80px;
  min-height: 80px;
  line-height: 80px;
  background-color: white;
  z-index: 1000;

  .nav_row {
    width: 1200px;
    display: flex;
    position: relative;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .nav_title {
      display: flex;

      .tab {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        cursor: pointer;
      }
      .currentTab {
        border-bottom: 2px solid #40a9ff;;
        color: #40a9ff;;
        padding-left: 20px;
        font-size: 20px;
        padding-right: 20px;
      }
    }

    .search {
      width: 300px;
      padding: 1em;
      margin-bottom: 20px;
    }
  }
}

//背景主色
.layout_background {
  background-color: #f6f6f6;

  .layout {
    padding: 80px 10px 20px; //上下100 左右10  上右下左
    width: 60%;
    margin: auto;
    // background-color: #fff
  }
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: 0.2em 0;
  color: white;
  margin: 0;
}
