.user_container{
    width:100%;
    height: 100%;

    .animate{
        
        animation-duration: 1s;
        // animation-delay: 2s;
        // animation-iteration-count: infinite;
        animation-name: 'zoomIn';
        
    }
    .bg_root{
        @extend .animate;
        background-color: white;
        padding: 30px;
        margin: 20px;
    }

    
    .container{
        display:flex;
        width:1200px;

        .left{
            width:380px;

            .course_root{
                @extend .bg_root
            }
          
            .links_root{
                @extend .bg_root;
            }
        }

        .right{
            width:820px;

            .new_article_root{
                @extend .bg_root
            }
            .content_root{
                @extend .bg_root;
                width: 550px;
                cursor: pointer;

                .content_title_tv{
                    font-size: 24px;
                    color: black;
                }
                .content_info{
                    font-size: 16px;
                }

                .content_bottom_root{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    .content_bottom_right{
                        display:flex;
                        justify-content: space-between;

                        .content_bottom_tv{
                            padding: 0px 10px;
                        }
                    }
                }
            }
            .about_auth_root{
                @extend .bg_root;
                float:right;
                width:270px;
            }
            .right_content_root{
               
                display: flex;
            }
        }
       
    }
}