.user_container{
    width:100%;
    height: 100%;

    .bg_root{
        @extend .animate;
        background-color: white;
        padding: 20px;
        margin: 20px;
    }

    .animate{
        animation-duration: 1s;
        // animation-delay: 2s;
        // animation-iteration-count: infinite;
        animation-name: 'zoomIn';
    }
    
    .container{
        display:flex;
        width:1200px;

        .left{
            width:300px;

            .course_root{
                @extend .bg_root
            }
          
            .links_root{
                @extend .bg_root;
            }
        }

        .right{
            width:900px;

            .new_article_root{
                @extend .bg_root
            }
            .content_root{
                @extend .bg_root;

                
            }
            .about_auth_root{
                @extend .bg_root
            }
        }
       
    }
}